<div>
    <h1>
        {{headerOne}}
    </h1>
    <h1 *ngIf="arrayOne.length > 0 else noElementi">
        <ng-template #noElementi>
            Elementi
        </ng-template>
    </h1>
    <ul>
        <li *ngFor="let a of arrayOne">
            {{a}}            
        </li>
    </ul>
    <button (click)="click()">
        {{buttonOne}}
    </button>
</div>